#container {
    text-align: center;
    opacity: 0.5;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .op{
    opacity: 0.5;
  
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
    opacity: 0.5;
  
  }
  .background-image{
    --background: url(../a.jpg) 0 0/100% 100% no-repeat;
  }
  #container p {
    font-size: 16px;
    line-height: 22px;
    opacity: 0.5;
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
      opacity: 0.5;
  
    text-decoration: none;
  }