<ion-content   >
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title color="medium">Delete Products</ion-title>
    </ion-toolbar>
  <ion-img style="width: 414px; height: 150px;"src="assets/img/k.jpg" ></ion-img>

  <ion-text color="medium" >
    <h2>Available products :</h2>
  </ion-text>
  </ion-header>
   <ion-list>
     <ion-item *ngFor="let lv of liste">
     <ion-thumbnail size="300px"   slot="start">
       <ion-img  [src] ="lv.image | async"></ion-img>
     </ion-thumbnail>
     <ion-label color="medium">
       <h3>  {{lv.productName}}  </h3>
       <h5>{{lv.productDescription}}</h5>
       <h5>{{lv.location}}</h5>
       <h5>{{lv.phone}}</h5>
       <h5>{{lv.price}}</h5>

     </ion-label>
     <ion-button color="medium" (click)="deleteP(lv)">Delete Product</ion-button>
    </ion-item>
   </ion-list>
   <ion-toolbar>

   <ion-button color="medium" (click)="allerhome()">Home</ion-button>
   </ion-toolbar>

</ion-content>
